.content {
    padding-bottom: 100px;
    
    &-box {
        width: 780px;
        margin: -210px auto 0 auto;
        padding: 90px 100px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(98, 97, 95, 0.5);

        @media (max-width: 810px) {
            width: -webkit-calc(100% - 30px);
            width: calc(100% - 30px);
            padding: 70px 50px;
        }
        
        @media (max-width: 600px) {
            padding: 50px 20px;
        }

        &--big {
            width: 1200px;
            @include m1200 {
                width: 100%;
            }
            p {
                font-size: 21px;
                line-height: 30px;
                color: #62615F;
            }
        }
    }
}


article {
    p,
    h3,
    h2,
    h4,
    h5,
    ul {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    p {
        line-height: 24px;
        color: #6D6E71;
    }
    strong,
    h3 {
        font-weight: normal;;
        font-size: 21px;
        color: $blue;
    }
    h2 {
        font-size: 30px;
        font-family: $rl;
        color: $blue;
        margin-bottom: 35px;
        font-weight: 100;
        &:not(:first-of-type) {
            margin-top: 90px;
        }
    }

    ul {
        li {
            list-style: none;
            display: block;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
    img {
        float: left;
        width: 49%;
        margin-right: 2%;
        margin-top: 90px;
        margin-bottom: 20px;
        & + img {
            margin-right: 0;
        }
        @include m700 {
            width: 100%;
            margin: 10px auto;
            float: none;
            display: block;
        }
    }
    &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
}