.offer {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;

    &+section {
        position: relative;
        z-index: 2;
    }


    .wrapper {
        height: 100%;
        @include flex($justify: center);
    }
    h1 {
        font: 72px $rm;
        color: #FFF;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
    }

    &--narrow {
        height: auto;
        padding: 215px 0 250px;
        .wrapper {
            padding: 0 310px;
            text-align: left;
        }
    }

    &--map {
        h1 {
            color: $blue;
        }
    }
}

.breadcrumbs {
    width: 100%;
    span {
        font: 14px/24px $rb;
        color: #FFF;
        position: relative;
        a {
            position: relative;
            color: #FFF;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                color: #FFF;
                width: 15px;
                height: 8px;
                margin: 0 6px;
                background-repeat: no-repeat;
                background-image: url("../images/arrowRight.png");
                -webkit-background-size: 100% 100%;
                     -o-background-size: 100% 100%;
                        background-size: 100% 100%;
            }
        }
        &:last-of-type {
            a {
                &:after {
                    display: none;
                }
            }
        }
    }
}