.my-mfp-full-height .mfp-content {
    height: 100%!important;

    .popup {
        height: 100%!important;
    }
}
.popup {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 90px 100px;
    width: 780px;
    overflow: hidden;

    &--article {
        height: 100%;
    }

    .mfp-close {
        font-size: 48px;
        top: 40px;
        right: 40px;
    }

    article h3 {
        color: $grey;
    }

    article {
        height: 100%;
        position: relative;
        padding-right: 15px;
    }
    
    .ps-container > .ps-scrollbar-y-rail {
        opacity: 1;
        display: block;
    }

    .ps-container.ps-active-x > .ps-scrollbar-x-rail,
    .ps-container.ps-active-y > .ps-scrollbar-y-rail {
        border-radius: 4px;
        width: 8px;
        opacity: 1;
        background-color: #B6B6B8;
    }

    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y,
    .ps-container.ps-in-scrolling  > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: $green!important;
        width: 8px!important;
        right: 0;

        &:hover {
            background-color: $green;
        }
    }
}


.popup--equipment {
    width: 1200px;
    font-size: 21px;

    @media (max-width: 1220px) {
        width: 100%;
        font-size: 18px;
    }

    .wrap {
        @include flex($alignI: stretch);
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);

        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    figure,
    .spec {
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
        margin: 0 10px 40px;

        @media (max-width: 1000px) {
            width: 100%;
            margin: 0 0 40px;

            .title {
                text-align: center;
            }
        }
    }

    

    .desc,
    .options {
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        margin: 0 10px 40px;

        @media (max-width: 1000px) {
            width: 100%;
            margin: 0 0 40px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            text-align: center;
        }
    }

    .options {
        text-align: center;
    }

    figure {
        @extend %vertAlign;
        text-align: center;
        background-color: #E8F5FE;
        padding: 30px 0;
        border-radius: 10px;

        img {
            max-width: 90%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .title {
        font-size: 30px;
        color: $blue;
        font-family: $rl;
        margin-bottom: 30px;
    }

    ul {
        li {
            list-style: none;

            strong {
                color: $green;
                font-weight: normal;
                font-family: $rb;
            }
        }
    }
}