.map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.contacts-box {
    position: relative;
    padding-bottom: 10px;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    margin: 0 -10px 40px;


    &:after {
        content: '';
        width: 780px;
        height: 1px;
        background-color: #9CA0AF;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        @media (max-width: 810px) {
            display: none;
        }
    }
}