.main-page {
    background-image: url(../images/main-page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @include m1200 {
        background-attachment: fixed;
    }
}

.fullpage {
    .section {
        position: relative;
        z-index: 1;
        text-align: center;
        /*padding-top: 100px;*/
        /*padding-bottom: 65px;*/

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #000;
            opacity: 0.6;
        }

        &__title {
            font-size: 72px;
            color: #fff;
            font-family: $rm;
            letter-spacing: 0.025em;
            font-weight: normal;
            @include m1200 {
                font-size: 58px;
            }
            @include m900 {
                font-size: 46px;
            }
            @include m600 {
                font-size: 36px;
            }
        }

        &__subtitle {
            font-size: 48px;
            color: #fff;
            font-family: $rl;
            letter-spacing: 0.025em;
            margin-bottom: 85px;
            @include m1200 {
                font-size: 38px;
            }
            @include m900 {
                font-size: 30px;
            }
            @include m600 {
                font-size: 24px;
            }
        }

        .partners-box {
            @include flex($justify: center);
            padding: 0 100px;
            margin-top: 80px;
            @include m1200 {
                padding: 0;
            }
            @include m600 {
                margin-top: 40px;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                margin: 25px 0;
                padding: 0 20px;
                width: 33.333%;
                @include m1200 {
                    padding: 0 5px;
                }
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

#fp-nav {
    left: 100px!important;
    z-index: 5;
}
#fp-nav ul li {
    margin-left: 0;
}
#fp-nav ul li a {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50%;

    &:hover,
    &.active {
        background-color: #fff;
    }


    span,
    &+.fp-tooltip {
        display: none!important;
    }
}