.autoBrands {
    width: 110%;
    margin-left: -5%;
    margin-top: 30px;
    @include flex($justify: space-between);
    list-style-type: none;
    @include m1400 {
        max-width: 100%;
        margin-left: 0;
    }
    img {
        display: block;
        &.hover {
            display: none;
        }
    }
    li {
        max-width: 20%;
        img {
            max-width: 90%;
        }
    }
    li:hover {
        img {
            display: none;
            &.hover {
                display: block;
            }
        }
    }
}

.section {
    .autoBrands {
        margin-top: 85px;
    }
}

.cars {
    @include flex($alignI: flex-start);
    margin-top: 40px;
    @include m1200 {
        -webkit-justify-content: space-around;
                justify-content: space-around;
    }
}
.car {
    width: 580px;
    margin-top: 40px;
    max-width: 100%;
    @include m1200 {
        width: 460px;
    }
    &__title {
        display: block;
        text-align: center;
        margin-bottom: 15px;
        font-size: 30px;
        font-family: $rl;
        color: $blue;
        @include m600 {
            font-size: 26px;
        }
    }
    &__img {
        height: 340px;
        overflow: hidden;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        @include m1200 {
            height: 260px;
        }
        @media (max-width: 460px) {
            height: 220px;
        }
        background-position: 50% 50%;
       -webkit-background-size: cover;
            -o-background-size: cover;
               background-size: cover;
    }
}