
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $rr;
    font-size: 18px;
    color: $grey;
    padding-top: 100px;

    @media (max-width: 600px) {
        font-size: 16px;
    }
}
.blue {
    color: $blue;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
    &--wide {
        width: 100%;
        padding: 0 100px;
        @include m1600 {
            padding: 0 4%;
        }
    }
    @include m1200 {
        width: 100%;
        padding: 0 15px;
    }
}
