// COLORS
// ---------------------------
$grey:              #62615f;
$blue:              #092f57;
$green:             #1f9b90;

// FONTS
// ---------------------------
$rb:                'robotobold';
$rr:                'robotoregular';
$rm:                'robotomedium';
$rl:                'robotolight';

// RESPONSIVE
// ---------------------------
